@use 'sass:math'
@use 'sass:color'

@import config


body 
    display: inline-block
    height: 100vh
    width: 100vw
    background: $dark-bg
    color: #fff
    overflow: hidden
.lang-select
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: $dark-bg
    z-index: 100
    transition: .7s ease
    img
        height: 1.5em
        margin-right: .5em
    button
        border: none
        background: transparent
        margin-top: .3em
        font-size: 21px
        font-weight: 900
        color: #fff
        display: flex
        align-items: center
        &:hover
            color: $yellow
    &__items
        display: flex
        flex-direction: column
        align-items: flex-start

.selected-lang-icon
    position: absolute
    top: 10px
    left: 10px
    height: 30px
    width: 30px
    cursor: pointer
    z-index: 50
    img
        height: 100%
        width: 100%

.inputs-wrapper, .out-wrapper
    display: flex
    height: 100%
    justify-content: center
    align-items: center
    flex-direction: column
.inputs-wrapper
    transition: all 1s ease
h1	
    font-size: 45px
    font-weight: 900
    padding-bottom: 1em
    text-align: center
.out-wrapper
    transition: 1s ease
    h2
        font-weight: 800
    ul 
        list-style: none
        width: 60%
        li 
            font-weight: 600
        .yellow
            font-size: 38px
            font-weight: 800
    +media-breakpoint-down(sm)
        h1
            font-size: 36px
        ul 
            width: 100%
.inputs 
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    padding-bottom: 4em
    &__item
        display: inline-block
        width: 8em
    label
        width: 100%
    select 
        position: relative
        font-size: 22px
        font-weight: 600
    +media-breakpoint-down(sm)
        flex-direction: column
.button
    margin-top: 3em
    font-size: 30px
    padding: .2em 2em
    border: none
    border-radius: 12px
    background: $orange
    color: #fff
    font-weight: 900
    transition: .3s ease
    &:hover
        transform: scale(1.05)
    +media-breakpoint-down(sm)
        margin-top: 1.5em
        font-size: 25px

.yellow
    color: $yellow
.orange
    color: $orange

.hide-item
    display: none
.show-item
    display: inline-block

.portfolio-link
    position: fixed
    right: 20px
    bottom: 0
    line-height: 1
    display: inline-block
    font-size: 16px
    font-weight: 500
    color: rgba(#fff, .3)
    transition: .3s ease
    &:hover
        color: #fff
        span
            color: $orange


.out-language-options
    display: none
    opacity: 0